@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.title{
  text-align: center;
  margin-top: 3%;
  font-size: 3em;
}

#me{
  display: block;
  margin-left: 10%;
  margin-right: auto;
  border: 5px ;
  border-radius: 50%;
  width: 400px;
  
}

.container{
  display: flex;
}

.biography{
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.8em; 
}

hr{
  position: relative;
  top: 20px;
  border: none;
  height: 2px;
  background: black;
  margin-bottom: 50px;
}