@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.title{
  text-align: center;
  margin-top: 3%;
  font-size: 3em;
}

#me{
  display: block;
  margin-left: 10%;
  margin-right: auto;
  border: 5px ;
  border-radius: 50%;
<<<<<<< HEAD
  width: 400px;
=======
  width: 320px;
  margin-top: 2em;
  
>>>>>>> 47a806c0aecac78ca5b3e00b9372a08e0d1a07de
  
}

.container{
  display: flex;
}

.biography{
<<<<<<< HEAD
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.8em; 
}

hr{
  position: relative;
  top: 20px;
  border: none;
  height: 2px;
  background: black;
  margin-bottom: 50px;
=======
  margin-top: 10%;
  margin-left: 10%;
  font-size: 30px;
  margin-left:2em;
  margin-right: 5em;
>>>>>>> 47a806c0aecac78ca5b3e00b9372a08e0d1a07de
}